.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80px;
  padding: 20px 24px 32px 24px;
}

.header__company {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #222222;
}

.buttons__container_laptop {
  display: flex;
  column-gap: 16px;
}

.buttons__container_mobile {
  display: none;
}

.header__leftSide {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 16px;
  width: 50%;
}

.header__rightSide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  column-gap: 16px;
  width: 50%;
}

.header__button {
  padding: 8px 16px;
  width: auto;
  border: none;
  cursor: pointer;
  height: 40px;
  background: #f0f1f2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.header__button_wallet {
  text-indent: -9999px;
  line-height: 0;
}

.header__button_wallet::after {
  content: 'Connect Wallet';
  text-indent: 0;
  display: block;
  line-height: initial;
}

.header__button_active {
  background: #e9f9e4;
  color: #52bc20;
  padding: 8px 16px;
  width: auto;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

input[type='search'] {
  background: url(../../assets/images/search.svg) no-repeat left center;
  background-position-x: 8px;
  padding: 8px 8px 8px 38px;
  gap: 8px;
  width: 304px;
  height: 40px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 390px) {
  .header {
    padding: 16px 16px 8px 16px;
    height: 128px;
    row-gap: 16px;
  }

  .header__company {
    font-size: 20px;
  }

  .header__rightSide {
    column-gap: 8px;
    width: 40%;
  }

  .buttons__container_laptop {
    display: none;
  }

  .buttons__container_mobile {
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
    width: 100%;
  }

  .header__button {
    padding: 8px;
    min-width: 40px;
  }

  .header__button_active {
    padding: 8px;
  }

  .header__button_wallet::after {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(154.44deg, #64CAEB 10.23%, #1347FF 89.89%);
  }

  input[type='search'] {
    width: 40px;
    background-position-x: 12px;

    ::placeholder {
      color: transparent;
    }
  }
}
