.wrapper {
  padding: 33px 24px 32px 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons__box {
  display: flex;
  cursor: pointer;
}

.icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
}

.icon__wrapper_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  background: #F0F1F2;
}

.header > p {
font-weight: 800;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.table {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #232323;
  padding: 20px 24px 32px 24px;
}

.table tr {
  display: flex;
  justify-content: space-around;
}

.table th {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #8a8a8e;
  cursor: pointer;
  display: flex;
  column-gap: 5px;
}

.table__column_name {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.table__avatar {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #eff0f0;
  border-radius: 8px;
}

.table__button {
  width: 121px;
  height: 40px;
  background: #e9f9e4;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #52bc20;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  .wrapper {
    padding: 24px 16px 16px 16px;
  }
}
